h1 {
    background: #ac87ff;
    padding: 5px 10px;
    border-radius: 180px;
    text-align: center;
    
}
img {
 width: 1200px;
    background: #fff;
    
}
body{
    background: #4776E6; 
}
a {
   background: #bfef66;
    color: rgba(255, 255, 255, 0.94);
    padding: 10px 25px;
    border-radius: 180px;
    margin: 15px 5px;
    text-decoration: none;
}
a:hover{
     background: #19a71e;
    color: #222020;
    transition: 0.3;
}
